github "Ramotion/circle-menu"
github "Ramotion/folding-cell"
github "Ramotion/paper-switch"
github "Ramotion/paper-onboarding"
github "Ramotion/preview-transition"
github "Ramotion/expanding-collection"
github "Ramotion/animated-tab-bar"
github "Ramotion/reel-search"
github "Ramotion/navigation-stack"
github "ober01/UPCarouselFlowLayout"
github "eddiekaiger/SwiftyAttributes"
