<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>864790586116-ema4f3cfem37midl1lspkkpi9crndgkt.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.864790586116-ema4f3cfem37midl1lspkkpi9crndgkt</string>
	<key>API_KEY</key>
	<string>AIzaSyCmO-mTnLeTe-wDv5kVT1YaRNb_d6A6o0o</string>
	<key>GCM_SENDER_ID</key>
	<string>864790586116</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ramotion.showroom</string>
	<key>PROJECT_ID</key>
	<string>showroom-ios</string>
	<key>STORAGE_BUCKET</key>
	<string>showroom-ios.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:864790586116:ios:275183c2e2c2b2fe</string>
	<key>DATABASE_URL</key>
	<string>https://showroom-ios.firebaseio.com</string>
</dict>
</plist>