<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>784543263296-7q3r1uged14aeb9h7kv9du7hpv377490.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.784543263296-7q3r1uged14aeb9h7kv9du7hpv377490</string>
	<key>API_KEY</key>
	<string>AIzaSyCrR7sukdn-DEZhXwN5g1uR04h2NrhrlYw</string>
	<key>GCM_SENDER_ID</key>
	<string>784543263296</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ramotion.showroom</string>
	<key>PROJECT_ID</key>
	<string>showroom-a8f35</string>
	<key>STORAGE_BUCKET</key>
	<string>showroom-a8f35.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:784543263296:ios:275183c2e2c2b2fe</string>
	<key>DATABASE_URL</key>
	<string>https://showroom-a8f35.firebaseio.com</string>
</dict>
</plist>